.edit-themes-modal {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin-top: 30px;
  padding: 0 20px;
}

.edit-themes-modal-theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.edit-themes-modal-theme-info {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.edit-themes-modal-color-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.edit-themes-modal-model {
  margin-left: 20px;
  flex-grow: 1;
  height: 30px;
  display: flex;
  align-items: center;
}

.edit-themes-modal-model input {
  outline: none;
  border: none;
  font-size: inherit;
}

.edit-themes-modal-close {
  cursor: pointer;
}

.edit-themes-modal-add {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.edit-themes-modal-cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.edit-themes-modal-popover {
  position: absolute;
  z-index: 2;
}
