.themes-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
  height: 400px;
}

.themes-list {
  overflow-y: scroll;
  height: 400px;
}

.themes-list-item {
  width: 100%;
  height: 30px;
}

.themes-add {
  display: flex;
  align-items: center;
}

.ck-editor {
  flex-grow: 1;
}
